{% extends 'base.html' %}
{% block css %}
<link href="/static/css/volunteer.css" rel="stylesheet">
<link href="/static/css/lightbox.css" rel="stylesheet">
<link href="/static/css/srv.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <p>	SRV LNK was inspired by the hard work, fellowship and philanthropy of the Lincoln community. We at Schulz & Veney hope to serve our city by providing this forum for citizens to get engaged in service, while helping organizations find volunteers. Thanks to our cutting-edge Django framework and SQLite database, the power to Serve Lincoln is back in the hands of the people.
	To get started, simply make an account under the “Volunteer Register” tab. Then find an organization, and contact them to get started. It’s as easy as that! Be sure to subscribe to the email newsletter to receive information about future updates to the website, and service opportunities that are available.
	We at SRV LNK would like to thank you for contributing to our vision of bettering the Lincoln community. Now get out there and Serve!</p>

        </div>
    </div>
</div>
<style>
p  {
    font-size: 1.5em;
		text-align: justify;

}
</style>
{% endblock %}
