{% extends 'base.html' %}

{% block style %}
<link href="/static/css/flexboxgridSRV.min.css" rel="stylesheet">
<link href="/static/css/lightbox.css" rel = "stylesheet">
<link href="/static/css/volunteer.css" rel="stylesheet">
{% endblock %}

{% block content %}
   <!--Directions-->
    <div class="container">
    <form id="contact" action="/volunteers/" method="post">

        <div class="row center-xs">
      <div class="col-xs-12">
            <h1>Looking for extra help?</h1>
          </div>
    </div>
        <div class="row center-xs">
      <div class="col-xs-12">
            <h3>Fill out the form below and SRV LNK will help you find eager volunteers!</h3>
          </div>
    </div>
    <div>
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit" />
</form>

<h2>{{ request.user.username }}'s hours</h2>
<ul>{% for object in hours %}
<li>{{ object.date }} for {{ object.hours }} hours</li>
{% endfor %}</ul>

<h3><strong>Not registered yet? Sign up <a href="/accounts/register/">here!</a></strong></h3>

</div>

{% endblock %}
