{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">   
  <div class="row">   
    <div class="col-xs-12">
      {% for object in all_organizations %}     
      <div class="floated_img">
        <a href="/static/images/whitechurch.jpg" data-lightbox="image-1" data-title="My caption">     
          <img src="/static/images/whitechurch.jpg" alt="Some image" width="250" height="250"> </a>
          <h3>{{ object.name }} -- {{ object.location }}</h3>
          <p>{{ object.description }}</p>
      </div>
{% endfor %}

        </div>
  </div>
</div>

{% endblock %}
