{% extends 'base.html' %}
{% block css %}
<link href="/static/css/flexboxgridSRV.min.css" rel="stylesheet">
<link href="/static/css/lightbox.css" rel = "stylesheet">
<link href="/static/css/organizations.css" rel="stylesheet">{% endblock %}
{% block content %}

<div class="container-fluid">   
  <div class="row">   
    <div class="col-xs-12">
      {% for object in all_organizations %}     
      <div class="floated_img">
        <center><a href="{{ object.image.url }}" data-lightbox="image-1" data-title="My caption">     
          <img src="{{ object.image.url }}" alt="Some image" width="250" height="250"> </a>
          <h3>{{ object.name }} -- {{ object.location }}</h3>
          <p style = "font-size: 20px">{{ object.description }}</p></center>
      </div>
{% endfor %}

        </div>
  </div>
</div>

{% endblock %}
